body {
    margin: 5px;
    padding: 5px;
    font-family: "Helvetica", sans-serif;
    background-color: rgb(243, 240, 240);
    color: rgb(247, 248, 248);
    font-size: 16px;
}

header {
    color: white;
    background-color: rgb(20, 61, 80);
    text-align: center;
    padding: 15px;
    box-shadow: 0 10px 8px rgba(16, 14, 14, 0.1);
    border-radius: 50px;
}

main {
    border-radius: 16px;
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 15px;
}


.cartao-tarefa {
    background-color: rgb(20, 61, 80);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.cartao-tarefa h2 {
    margin-bottom: 15px;
    color: white;
}



form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #8fc8e2;
    font-size: 16px;
    background-color: white;
    color: #000;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.botoes {
    display: flex;
    gap: 10px;
}

.btn-salvar {
    background: white;
    color: rgb(27, 79, 112);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn-salvar:hover {
    background-color: rgb(32, 88, 126);
    color: white;
}

.btn-cancelar {
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    color: red;
}
.btn-cancelar:hover {
    background-color: rgb(206, 83, 26);
    color: white;
}



.lista-container {
    background-color: rgb(20, 61, 80);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.lista-container h2 {
    color: white;
    margin-bottom: 10px;
}


.lista-tarefas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}


.tarefa-card {
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: rgb(20, 61, 80);
}


.tarefa-card h3 {
    margin: 0 0 8px;
}

.badge {
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.baixa { background: #2ecc71; }
.media { background: #f1c40f; color: black; }
.alta { background: #e74c3c; }

.card-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.btn-editar {
    background: rgb(20, 61, 80);
    color: white;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.btn-excluir {
    background: rgb(206, 83, 26);
    color: white;
    padding: 8px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

footer {
    background-color: rgb(20, 61, 80);
    text-align: center;
    padding: 10px;
    color: white;
    box-shadow: 0 -10px 8px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
    border-radius: 50px;
}
